[workflow]
name = 'snps_indels_annotation'

[workflow.query_filters]
# sequencing_types = [ 'genome', 'adaptive_sampling', ]
# sequencing_platforms = [ 'pacbio', 'oxford-nanopore', ]
# analysis_types = [ 'vcf', 'pacbio_vcf',]
# variant_types = [ 'SNV', 'snp_indel', ]
# variant_callers = [ 'deeptrio', 'deepvariant', ]
# pipeface_versions = [ 'v0.8.0', 'v0.9.0', 'v0.9.1', 'v0.9.2', 'v0.9.4', 'v0.10.0', ]
# prefer_joint_called = false
# parental_id_suffixes = [ '01', '02', ]

# Use this option to export mt / es-index for only certain families in a dataset
# [workflow.dataset_name]
# only_families = []

[workflow.resource_overrides.reformat_snps_indels_vcf]
cpu_cores = 1
memory_gib = '4Gi'
storage_gib = '5Gi'

[workflow.resource_overrides.merge_snps_indels_vcfs]
cpu_cores = 4
memory_gib = '16Gi'
storage_gib = '50Gi'

[workflow.resource_overrides.split_vcf]
cpu_cores = 2
memory_gib = '4Gi'
storage_gib = '50Gi'


[workflow.resource_overrides.export_mt_to_elastic]
cpu_cores = 4
memory = 'lowmem'
